@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  height: auto;
  font-family: "Inter", sans-serif;
}

nav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.firstTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #28352f;
  margin-left: 20px;
}

.hamburgerButton {
  display: block;
  font-size: 23px;

  /* gap: 3px; */
  float: right;
  line-height: 50px;
  margin-right: 40px;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }
}

.fa-bars {
  color: black;
}

.heroIntro {
  position: relative;
  background: url("https://kgomotso196.github.io/MyPortfolio/pngFiles/mobileView.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
}

.heroIntroContainer {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.heroIntroHeading {
  width: 100%;
  color: #172b4d;

  /* margin-bottom: 1rem; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  padding-top: 85px;
  margin-left: 18px;
}

.secondHeroIntroHeading {
  width: 100%;
  color: #172b4d;

  /* margin-bottom: 1rem; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;

  /* padding-top: 85px; */
  margin-left: 18px;
}

.heroIntroDescription {
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin-left: 18px;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  cursor: pointer;
  list-style-type: none;
  margin-top: 32px;
}

.pText {
  width: 100%;
  color: #36b37e;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;

  /* padding-top: 85px; */
  margin-left: 18px;
}

.scrollButton {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}

.icons:hover {
  background: #c5e9da;
}

@media screen and (min-width: 768px) {
  .hamburgerButton,
  .firstTitle {
    display: none;
  }

  .heroIntroContainer {
    padding-top: 140px;
    width: 95%;
  }

  .heroIntroDescription {
    width: 75%;
    text-align-last: center;
    margin-left: 150px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #172b4d;
  }

  .heroIntroHeading {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #172b4d;
  }

  .heroIntro {
    position: relative;
    background: url("https://kgomotso196.github.io/MyPortfolio/pngFiles/desktopView.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-bottom: 280px;
  }

  nav {
    position: absolute;
    display: flex;
    justify-content: center;
  }

  .navLinks {
    display: flex;
  }

  .navLinksEffect a {
    padding: 10px 12px;
    color: #344563;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }
}
